#projectile
public net.minecraft.world.entity.projectile.AbstractArrow firedFromWeapon # firedFromWeapon
public net.minecraft.world.entity.projectile.AbstractArrow setPierceLevel(B)V # setPierceLevel
protected net.minecraft.world.entity.projectile.AbstractArrow soundEvent # soundEvent

#AbstractSchoolingFish
protected net.minecraft.world.entity.animal.AbstractSchoolingFish leader # leader

#BuitInLootTables
public net.minecraft.world.level.storage.loot.BuiltInLootTables register(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/resources/ResourceKey; # register